<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>All posts found by word: "{{ substr }}"</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<main>

    <a href="/" class="link">Back</a>

    <h1>Posts by query "{{ substr }}"</h1>
    {% for post in posts %}
        <div class="post">
            <img src="{{ post.pic }}"
                 width="100%" alt="">
            <p>{{ post.content }}</p>
        </div>
        <hr>
    {% endfor %}

    <a href="/post" class="button">Add post</a>

</main>
</body>
</html>
